{
    "extends":"standard",
    "plugins":[
        "html"
    ],
    "parser":"babel-eslint",
    "rules":{
      "no-new":"off",
      "quotes":"off",
      "semi":"off",
      "comma-dangle":"off"
    }
}
